nav{
    background-color: #6A747B;
    padding-top: 0.5rem;
    color:white
}
nav h4{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;}
nav p{
    margin:auto
}


input{
    border: none;
    border-radius: 5%;
}
